#### Assignment Owner: NATTHA BUNYAMANI 
#### Checked by: JITTIN POMPRAKAY 

- [x] Test [passed/failed]
- [x] R project [found/not found]
- [x] R-markdown [knitable/not knittable]

